<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
</head>
<body>
    <h1 id="connection-status">Not Connected</h1>
    <textarea id="chat-box" style="width: 100%; height: 200px;"></textarea>
    <input type="text" id="message-input" placeholder="Type a message">
    <button onclick="sendMessage()">Send</button>

    <script>
        const connectionStatus = document.getElementById('connection-status');
        const chatBox = document.getElementById('chat-box');
        const messageInput = document.getElementById('message-input');

        const socket = new WebSocket('ws://127.0.0.1:3404/ws/some_path/');  // Replace with your actual server domain

        socket.onopen = function (event) {
            connectionStatus.innerText = 'Connected';
        };

        socket.onmessage = function (event) {
            const data = JSON.parse(event.data);
            chatBox.value += data.message + '\n';
        };

        function sendMessage() {
            const message = messageInput.value;
            socket.send(JSON.stringify({
                'message': message
            }));
            messageInput.value = '';
            return
        }
    </script>
</body>
</html>
